<!-- 模板：登录 -->
<script id="tpl-login" type="text/template">
    <div class="am-padding-xs am-padding-top-sm">
        <div class="am-alert am-alert-warning" data-am-alert>
            <button type="button" class="am-close">&times;</button>
            <p><b>提示</b></p>
            <p>在线插件登录入口已停用，如需使用插件能力，请优先采用本地插件方案。</p>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label form-require">账号：</label>
            <div class="am-u-sm-8 am-u-end">
                <input class="tpl-form-input" name="data[user_name]" type="text" placeholder="请输入账号" required>
                <small>当前环境不再提供外部账号注册入口</small>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-form-label form-require">密码：</label>
            <div class="am-u-sm-8 am-u-end">
                <input class="tpl-form-input" name="data[password]" type="password" placeholder="请输入密码" required>
            </div>
        </div>
    </div>
</script>
