<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <form id="my-form" class="am-form tpl-form-line-form" enctype="multipart/form-data" method="post">
					<div class="widget-body">
                        <fieldset>
							<div class="widget-head am-cf">
								<div class="widget-title am-fl">地图设置</div>
							</div>
							<div class="am-form-group">
                                <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">地图平台</label>
                                <div class="am-u-sm-9 am-u-end">
                                    <label class="am-radio-inline">
                                        <input v-model="checked" type="radio" name="data[gateway]" value="" data-am-ucheck
                                            {$model['gateway'] == '' ? 'checked':''}>
                                        无
                                    </label>
                                    {foreach $list as $item}
                                    <label class="am-radio-inline">
                                        <input v-model="checked" type="radio" name="data[gateway]" value="{$item['name']}" data-am-ucheck
                                            {$model['gateway'] == $item['name'] ? 'checked':''}>
                                        {$item['title']}
                                    </label>
                                    {/foreach}
                                    <div class="help-block">
                                        <small>
                                        {if $list}
                                            选择地图平台后，请确保对相应的地图插件参数配置无误
                                        {else /}
                                            无法设置：您暂未安装任何地图插件，请前往插件中心进行安装。
                                        {/if}
                                        </small>
                                    </div>
                                </div>
                            </div>
                            <div class="am-form-group">
                                <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                    <button type="submit" class="j-submit am-btn am-btn-secondary">提交
                                    </button>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script src="/assets/plugins/vue/vue.min.js?v={$version}"></script>
<script>
    
    $(function () {
        new Vue({
    	  el: '#my-form',
    	  data: {
    		checked: "{$model['gateway']}"
    	  }
    	});
        $('#my-form').formPost();
    });
</script>