<!-- 修改密码 -->
<script id="tpl-renew" type="text/template">
    <div class="am-padding-xs am-padding-top-sm">
        <div class="am-form-group"> 
            <label class="am-u-sm-3 am-form-label form-require"> 登录账号 </label>
			<div class="am-u-sm-9"> 
			    <input type="text" class="tpl-form-input" name="data[phone]" value="{{ phone }}" required> 
			</div>
		</div>
		<div class="am-form-group"> 
		    <label class="am-u-sm-3 am-form-label form-require"> 登录密码</label>
			<div class="am-u-sm-9"> 
			    <input type="password" class="tpl-form-input" name="data[password]" value="" required> 
			</div>
		</div>
		<div class="am-form-group"> 
		    <label class="am-u-sm-3 am-form-label form-require"> 确认密码 </label>
			<div class="am-u-sm-9"> 
			    <input type="password" class="tpl-form-input" name="data[password_confirm]" value="" required> 
			</div>
		</div>
    </div>  
</script>