<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="renderer" content="webkit"/>
    <link rel="stylesheet" href="/assets/plugins/amazeui/amazeui.css?v={$version}"/>
    <link rel="stylesheet" href="/assets/css/hema.app.css?v={$version}"/>
    <script src="/assets/plugins/jquery/jquery.min.js?v={$version}"></script>
    <title>优惠券</title>
</head>
<body class="select-data">
<div class="am-scrollable-horizontal am-u-sm-12">
    <table width="100%" class="am-table am-table-hover tpl-table-black">
        <thead>
			<tr>
				<th>
					<label class="am-checkbox">
						<input data-am-ucheck data-check="all" type="checkbox">
					</label>
				</th>
				<th>编号ID</th>
				<th>优惠券名称</th>
                <th>类型</th>
                <th>订单金额</th>
                <th>优惠规则</th>
				<th>规则说明</th>
			</tr>
        </thead>
        <tbody>
        {if $list}
            {foreach $list as $item}
            <tr>
                <td class="am-text-middle">
                    <label class="am-checkbox">
                        <input data-am-ucheck data-check="item" data-params="{$item['params']}" type="checkbox">
                    </label>
                </td>
				<td class="am-text-middle">{$item['coupon_id']}</td>
                <td class="am-text-middle">
					<p>{$item['name']}</p>
				</td>
                <td class="am-text-middle">{$item['type']['text']}</td>
                <td class="am-text-middle">
                    {if $item['order_price']>0}
                        满￥{$item['order_price']}
                    {else /}
                        不限
                    {/if}
                </td>
                <td class="am-text-middle">
                    {$item['type']['value'] == 10?'立减￥'.$item['values']:''}
                    {$item['type']['value'] == 20?($item['values']/10).'折优惠':''}
                    {if $item['type']['value'] == 30}
                        {foreach $item['gift'] as $vo}
                            <p>赠：{$vo['name']}</p>
                        {/foreach}
                    {/if}
                    {if $item['type']['value'] == 40}
                        <p>{$item['gift'][0]['goods_name']}：{$item['values']/10}折优惠</p>
                    {/if}
                </td>
                <td class="am-text-middle">{$item['explain']}</td>
            </tr>
            {/foreach}
        {else /}
            <tr>
                <td colspan="6" class="am-text-center">暂无记录</td>
            </tr>
        {/if}  
        </tbody>
    </table>
</div>
<script src="/assets/plugins/amazeui/amazeui.js?v={$version}"></script>
<script>
    /**
     * 获取已选择的数据
     */
    function getSelectedData() {
        var data = [];
        $('input[data-check=item]:checked').each(function () {
            data.push($(this).data('params'));
        });
        return data;
    }
    $(function () {
        // 全选框元素
        var $checkAll = $('input[data-check=all]')
            , $checkItem = $('input[data-check=item]')
            , itemCount = $checkItem.length;
        // 复选框: 全选和反选
        $checkAll.change(function () {
            $checkItem.prop('checked', this.checked);
        });
        // 复选框: 子元素
        $checkItem.change(function () {
            if (!this.checked) {
                $checkAll.prop('checked', false);
            } else {
                var checkedItemNum = $checkItem.filter(':checked').length;
                checkedItemNum === itemCount && $checkAll.prop('checked', true);
            }
        });
    });
</script>
</body>
</html>