<link rel="stylesheet" href="/assets/css/hema.goods.css?v={$version}">
<link rel="stylesheet" href="/assets/plugins/umeditor/themes/default/css/umeditor.css">
<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <div class="widget-head am-cf">
                    <div class="widget-title am-fl">添加商品</div>
                </div>
                <form id="my-form" class="am-form tpl-form-line-form" method="post">
                    <div class="widget-body">
                        <fieldset>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品类型 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[goods_type]"  v-model="type" value="10" data-am-ucheck
                                           checked>
                                    实物
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[goods_type]" v-model="type" value="20" data-am-ucheck>
                                    优惠券
                                </label>
                            </div>
                        </div>
                        <div v-show="type == 20" class="am-form-group">
                            <label class="am-u-sm-3  am-u-lg-2 am-form-label form-require"> 指定优惠券 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <div class="widget-become-goods am-form-file am-margin-top-xs">
                                    <button type="button"
                                            class="hema-coupon upload-but am-btn am-btn-secondary am-radius">
                                        <i class="am-icon-cloud-upload"></i> 选择优惠券
                                    </button>
                                    <div class="coupon-list uploader-list am-cf">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品名称 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <input type="text" class="tpl-form-input" name="data[goods_name]" value="" required>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label">商品卖点 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <input type="text" class="tpl-form-input" name="data[selling_point]" value="">
                                <small>选填，商品卖点简述，例如：此款商品美观大方 性价比较高 不容错过</small>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品图片 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <div class="am-form-file">
                                    <div class="am-form-file">
                                        <button type="button"
                                                class="upload-file am-btn am-btn-secondary am-radius">
                                            <i class="am-icon-cloud-upload"></i> 选择图片
                                        </button>
                                        <div class="uploader-list am-cf">
                                        </div>
                                    </div>
                                    <div class="help-block am-margin-top-sm">
                                        <small>尺寸750x750像素以上，大小2M以下</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">兑换积分 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <input type="number" min="1" value="" class="tpl-form-input" name="data[goods_price]" required>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品库存 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <input type="number" min="0" class="tpl-form-input" name="data[stock_num]" value="" required>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label">商品详情 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <!-- 加载编辑器的容器 -->
                                <textarea id="container" name="data[content]" type="text/plain"></textarea>
                            </div>
                        </div>  
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品状态 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[goods_status]" value="10" data-am-ucheck
                                           checked>
                                    上架
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[goods_status]" value="20" data-am-ucheck>
                                    下架
                                </label>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">是否推荐 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[is_recommend]" value="0" data-am-ucheck
                                           checked>
                                    否
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[is_recommend]" value="1" data-am-ucheck>
                                    是
                                </label>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">显示排序 </label>
                            <div class="am-u-sm-9 am-u-end">
                                <input type="number" class="tpl-form-input" name="data[goods_sort]"
                                       value="100" required>
                                <small>数字越小越靠前</small>
                            </div>
                        </div>
                        <!-- 表单提交按钮 -->
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-3 am-margin-top-lg">
                                <button type="submit" class="j-submit am-btn am-btn-secondary">提交</button>
                            </div>
                        </div>
                        </fieldset>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{include file="market/recharge/plan/tpl_gift" /}
<!-- 图片文件列表模板 -->
{include file="../addons/upload/view/template/tpl_file_item_id.html" /}
<!-- 文件库弹窗 -->
{include file="../addons/upload/view/template/file_library.html" /}
<script src="/assets/plugins/vue/vue.min.js?v={$version}"></script>
<script src="/assets/js/select.data.js?v={$version}"></script>
<script src="/assets/plugins/umeditor/umeditor.config.js"></script>
<script src="/assets/plugins/umeditor/umeditor.min.js"></script>
<script>
    // 渲染页面
    new Vue({
        el: '#my-form',
        data: {
            type: 10
        }
    });
    $(function () {
        // 富文本编辑器
        UM.getEditor('container', {
            initialFrameWidth: 375 + 15,
            initialFrameHeight: 600
        });
        // 选择图片
        $('.upload-file').selectImages({
            name: 'data[image_id]'
        });
        // 选择优惠券
        $('.hema-coupon').click(function () {
            var $userList = $('.coupon-list');
            $.selectData({
                title: '选择优惠券',
                uri: 'coupon/lists',
                dataIndex: 'id',
                done: function (data) {
                    var coupon = [data[0]];
                    $userList.html(template('tpl-coupon-item', coupon));
                }
            });
        });
        /**
         * 表单验证提交
         */
        $('#my-form').formPost();
    });
</script>