<!-- 添加 -->
<script id="tpl-add" type="text/template">
    <div class="am-padding-xs am-padding-top-sm">
        <div class="am-form-group">
            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">分类名称 </label>
            <div class="am-u-sm-9 am-u-end">
                <input type="text" class="tpl-form-input" name="data[name]" value="" required>
            </div>
        </div>
        <div class="am-form-group">
            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">显示排序 </label>
            <div class="am-u-sm-9 am-u-end">
                <input type="number" class="tpl-form-input" name="data[sort]" value="100" required>
                <small>数字越小越靠前</small>
            </div>
        </div>
    </div>  
</script>