<div class="row-content am-cf">
    <div class="row">
        <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
            <div class="widget am-cf">
                <form id="my-form" class="am-form tpl-form-line-form" method="post">
                    <div class="widget-head am-cf">
                        <div class="widget-title am-fl">商品设置</div>
                    </div>
                    <fieldset>
                    <div class="widget-body">
						<div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">商品库存 </label>
                            <div class="am-u-sm-9 am-u-end">
                            	<label class="am-radio-inline">
                                    <input type="radio" name="data[is_stock]" value="0" data-am-ucheck
                                        {$model['is_stock'] == 0 ? 'checked' : ''} >
                                    关闭
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[is_stock]" value="1" data-am-ucheck
                                        {$model['is_stock'] == 1 ? 'checked' : ''} >
                                    开启
                                </label>
                                <div class="help-block">
								    <small>开启后商品库存为0时无法下单</small>
								</div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">售罄显示 </label>
                            <div class="am-u-sm-9 am-u-end">
                            	<label class="am-radio-inline">
                                    <input type="radio" name="data[sell_out]" value="0" data-am-ucheck
                                        {$model['sell_out'] == 0 ? 'checked' : ''} >
                                    关闭
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[sell_out]" value="1" data-am-ucheck
                                        {$model['sell_out'] == 1 ? 'checked' : ''} >
                                    开启
                                </label>
                                <div class="help-block">
								    <small>用户下单是否显示售罄商品。（库存开启有效）</small>
								</div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <label class="am-u-sm-3 am-u-lg-2 am-form-label form-require">下架显示 </label>
                            <div class="am-u-sm-9 am-u-end">
                            	<label class="am-radio-inline">
                                    <input type="radio" name="data[delisting]" value="0" data-am-ucheck
                                        {$model['delisting'] == 0 ? 'checked' : ''} >
                                    关闭
                                </label>
                                <label class="am-radio-inline">
                                    <input type="radio" name="data[delisting]" value="1" data-am-ucheck
                                        {$model['delisting'] == 1 ? 'checked' : ''} >
                                    开启
                                </label>
                                <div class="help-block">
								    <small>用户下单是否显示下架商品。</small>
								</div>
                            </div>
                        </div>
                        <div class="am-form-group">
                            <div class="am-u-sm-9 am-u-sm-push-2 am-margin-top-lg">
                                <button type="submit" class="j-submit am-btn am-btn-secondary">提交
                                </button>
                            </div>
                        </div>
                    </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(function () {
        $('#my-form').formPost();
    });
</script>