APP_DEBUG = false

[APP]
DEFAULT_TIMEZONE = Asia/Shanghai

[DATABASE]
TYPE = mysql
HOSTNAME = localhost
DATABASE = plat
USERNAME = root
PASSWORD = your_password
HOSTPORT = 3306
CHARSET = utf8
DEBUG = false
